---
---

@import url("https://fonts.googleapis.com/css?family=Lato:400italic,400");

header p {
    width: 500px;
    font-size: 16px;
}

body {
    font-weight: 400;
}

section {
    font-size: 17px;
}

header h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}
